services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alfaruq_api
    ports:
      - "5001:5000"
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - ./firebase-service-account.json:/usr/src/app/firebase-service-account.json:ro
      - ./templates:/usr/src/app/templates
    depends_on:
      - db
      - redis
    restart: always
    networks:
      - alfaruq-net
  redis:
    image: redis:7
    container_name: alfaruq_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - alfaruq-net

  db:
    image: postgres:15-alpine
    container_name: alfaruq_db
    ports:
      - "5459:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - alfaruq-net

networks:
  alfaruq-net:
    driver: bridge

volumes:
  pgdata: