# docker-compose.yml (UPDATED FOR DEVELOPMENT)

version: '3.8'

services:
  # The NestJS API service
  api:
    build:
      context: .
      dockerfile: Dockerfile # Use the development Dockerfile
    container_name: alfaruq_api
    ports:
      - "5000:5000" # Map host port 5000 to container port 5000
    volumes:
      - .:/usr/src/app # Mount the host source code into the container for hot-reloading
      - /usr/src/app/node_modules # Use the node_modules from the container, not the host
      - ./firebase-service-account.json:/usr/src/app/firebase-service-account.json:ro
    depends_on:
      - db # This service will wait for the 'db' service to be ready before starting
    env_file: # <-- CHANGE: Load variables directly from your .env file
      - ./.env
    command: npm run start:dev # Override the CMD to run in watch mode for development

  # The PostgreSQL database service
  db:
    image: postgres:15-alpine # Use an official PostgreSQL image
    container_name: alfaruq_db
    ports:
      - "5433:5432" # Map host port 5433 to container port 5432 to avoid local conflicts
    environment: # <-- CHANGE: Use variables from your .env file
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persist database data on the host machine

# Define a named volume for the database to persist data across container restarts
volumes:
  postgres_data: